1-akka-dotnet-persistence-fundamentals-m1-exercise-files/before/GameConsole/GameConsole/bin
1-akka-dotnet-persistence-fundamentals-m1-exercise-files/before/GameConsole/GameConsole/obj
1-akka-dotnet-persistence-fundamentals-m1-exercise-files/before/GameConsole/packages
1-akka-dotnet-persistence-fundamentals-m1-exercise-files/before/GameConsole/.vs/GameConsole/v14/.suo